body
{
    font-family: 'Pacifico', cursive;
    background: #f5dbda;
}

.header_div
{
    background: white;
    color: #ce2700;
}

.header_div p
{
    font-family: 'Fredoka One', cursive;
    color: gray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button
{
    font-family: 'Fredoka One', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.page header
{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}